/* font-family: 'Source Sans Pro', sans-serif; */

/* ===================
GENERAL SETUP
======================*/
:root {
    --color-black-200: #989898;
    --color-black-300: #5A5A5A;
    --color-black: #404040;
    --color-primary: #f18119;
    --color-white: #fff;
}

/* ===================
BASIC RESET
======================*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/* ===================
GENERAL STYLES
======================*/
body {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-white);
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-black);
    text-align: center;
}

h1 {
    font-size: 3.6rem;
    font-weight: 300;
}
h2 {
    font-size: 2.1rem;
    font-weight: 900;
}

img {
    width: 100%;
    display: block;
}

strong {
    font-weight: 900;
}
.container {
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
}


/* ===================
SECTION INTRO
======================*/
.section-intro {
    color: var(--color-white);
    background-image: url(./assets/ribs.jpg);
    background-color: var(--color-black);
    background-blend-mode: overlay;
    min-height: 50vh;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 0 0 2em 0;
}

.intro-container {
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.intro-top {
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--color-primary);
    text-transform: uppercase;
}

.intro-taste {
    display: inline-block;
    padding-top: 1.6rem;
    border-top: 5px solid var(--color-primary);
    border-image: linear-gradient(to right, #FFA51D, #FF713B) 1;
    padding-top: 12px;
}

.intro-head {
}

.intro-bottom {
    text-transform: uppercase;
    color: var(--color-primary);
    justify-self: center;
    letter-spacing: 1px;
}

/* ===================
MAIN CONTENT
======================*/

.main-content {
    padding-top: 3em;
}
.main-content__subtitle {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 900;
    margin-bottom: 2em;
}

.main-content__desc {
    color: var(--color-black-300);
    font-weight: 300;
}

.email-collector {
    margin: 1.5em 0 1em 0 !important;
    width: 80%;
    max-width: 300px;
    
}

input, button {
    width: 100%;
    border-radius: 5px;
}

input {
    margin-bottom: 1em;
    padding: .5em;
    font-family: inherit;
    text-align: inherit;
    font-size: inherit;
    border: 1px solid var(--color-black);
}

input:focus {
    outline: var(--color-primary) solid 2px;
    border: 0;

}
.btn {
    padding: .875em 2.625em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    color: var(--color-white);
    background-image: linear-gradient(to right, #FFA51D, #FF713B);
    border: none;
    transition: all .3s;
    cursor: pointer;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.btn:focus {
    /* outline:thick double  var(--color-primary); */
}
.section-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.claim-text {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--color-black-200);
}

@media (min-width: 760px) {
    body {
        font-size: 1.8rem;  
        max-width: 1140px;
        margin: 0 auto;
    }
    h1 {
        font-size: 5.6rem;
    }
    h2 {
        font-size: 2.8rem;
    }

    .main-content__subtitle {
        font-size: 1.8rem;
    }

    .section-intro {
        min-height: 100vh;
    }
    .container-flex {
        display: flex;
        align-items: center;
    }

    .section-intro {
        width: 60%;
    }

    .section-main {
        width: 40%;
        padding: 0 2em;
    }  

    .intro-head {
        margin-top: auto;
        margin-bottom: .5em;
    }
    .intro-bottom {
        margin-bottom: auto;    
    }

}